.search {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 64px;
    width: 100%;
    background: var(--Neutral-4);
    border-radius: 16px;
}

.search .close-icon {
    width: 20px;
    height: 20px;
}

.search .iconSearch {
    padding-left: 26px;
    padding-right: 26px;

}

.search input {
    border: none;
    background: transparent;
    width: 100%;
    height: 50%;
    color: var(--Neutral-2);
}

.search input:focus {
    outline: none;
}

.search .notification {}

.search .close {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search .notification-icon {
    margin-right: 26px;
    margin-left: 26px;
    background: transparent;
    border: none;
    cursor: pointer;
    /* padding: 0 26px 0 0; */
    width: 29px;
    height: 29px;
}

.search .img-profile {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 24px;
}